[user]
	name = !$mail.name
	email = !$mail.user
[color]
	ui = auto
[alias]
	up = svn rebase
	ci = svn dcommit
	co = svn clone --preserve-empty-dirs --prefix=svn/
	oneline = log --oneline
	patch = diff --no-prefix --binary --full-index --relative
	submit = !gerrit-submit
	draft = !gerrit-draft
	greset = !gerrit-reset
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
[github]
	user = !$github.user
	token = !$github.token
[clean]
	requireForce = false
[push]
	default = upstream
[core]
	excludesfile = ~/.gitignore_global
