[user]
	name = !$mail.name
	email = !$mail.user
[color]
	ui = auto
[alias]
	up = svn rebase
	ci = svn dcommit
	co = svn clone --prefix=svn/
	oneline = log --oneline
	patch = diff --no-prefix --binary
[github]
	user = !$github.user
	token = !$github.token
[clean]
	requireForce = false
[push]
	default = upstream
[core]
	excludesfile = ~/.gitignore_global
