set smtp-use-starttls
set ssl-verify=strict
set ssl-ca-file=/usr/share/curl/ca-bundle.crt
set smtp=smtp://!$mail.smtp:587
set smtp-auth=login
set smtp-auth-user=!$mail.user
set smtp-auth-password=!$mail.passwd
set from="!$mail.user (!$mail.name)"
set folder=imaps://!$mail.user@$mail.imap
set password-!$mail.user@$mail.imap=!$mail.passwd

